.container{
    background-color: aqua;
    height: 200px;
    justify-content: space-between;


}
.hi {
    color: rgb(42, 85, 165);
    text-align: center;
}
.p {
    color: rgb(26, 14, 251);
    text-align: center;
}
